<h3>Adauga membru</h3>
<div class="container">
  <form #addEmp="ngForm" (ngSubmit)="onSubmit(addEmp.value)">
    <div class="form-group">
      <label for="name">Nume:</label>
      <input type="text" required #refName="ngModel" minlength="3" maxlength="30" name="name" pattern="[a-zA-Z ]*$" id="name" class="form-control" [(ngModel)]="name"/>
      <div *ngIf="refName.errors && (refName.dirty||refName.touched)" class="alert alert-danger">
        <div [hidden]="!refName.errors.required">
          Va rog introduceti un nume
        </div>
        <div [hidden]="!refName.errors.minlength">
          Numele trebuie sa aiba 3 sau mai multe caractere
        </div>
        <div [hidden]="!refMob.errors.pattern">
          Folositi doar litere
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="location">Locatie</label>
      <select #refloc="ngModel" [(ngModel)]="location" name="location" class="form-control" id="location" required>
        <option>Brasov</option>
        <option>Timisoara</option>
        <option>Bucuresti</option>
        <option>Iasi</option>
      </select>
      <div *ngIf="refName.errors && (refName.dirty||refName.touched)" class="alert alert-danger">
        <div [hidden]="!refName.errors.required">
          Va rog introduceti locatia
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" required email maxlength="30" #refMail="ngModel" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" [(ngModel)]="email"/>
      <div *ngIf="refMail.errors && (refMail.dirty||refMail.touched)" class="alert alert-danger">
        <div [hidden]="!refMail.errors.required">
          Va rog introduceti un e-mail
        </div>
        <div [hidden]="!refMail.errors.email">
          Introduceti o adresa de email corecta
        </div>
        <div [hidden]="!refMob.errors.pattern">
        Introduceti o adresa de email corecta
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="mobile">Telefon:</label>
      <input type="text" required pattern="^[1-9]\d{9}$" #refMob="ngModel" id="mobile" name="mobile" class="form-control" [(ngModel)]="mobile"/>
    </div>
    <div *ngIf="refMob.errors && (refMob.dirty || refMob.touched)" class="alert alert-danger">
      <div [hidden]="!refMob.errors.required">
        Introduceti numarul de telefon
      </div>
      <div [hidden]="!refMob.errors.pattern">
        Va rog introduceti un numar de telefon valid
      </div>
    </div>
   
    <button [disabled]="!addEmp.form.valid" type="submit" id="add" class="btn btn-primary">Adauga</button>
  </form>
</div>